.toolbar-button {
  border: 1px solid rgba(153, 105, 105, 0.5);
  border-radius: 20px;
  color: black;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46px;
}

.buttons-container {
  gap: 40px;
  display: flex;
}

.logo-text {
  flex-grow: 1;
  color: black;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
}

.toolbar {
  background-color: white;
}

.appbar-component {
  box-shadow: none !important;
  padding: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
}

.child-container {
  flex-grow: 1;
  padding-top: 64px;
}
